html
    head
        title= "Submit Gram"
        link(rel='stylesheet', href='stylesheet.css')
    body
        h2= "Congrats on the submission!"
            a(href="http://localhost:3000")= "Go back"

        img(src=`http://localhost:3000/uploads/${photo}`)
