html
    head
        title= "Submit Gram"
        link(rel='stylesheet', href='stylesheet.css')
    body
        h2= "Congrats on the submission!"
            a(href="/")= "Go back"

        img(src=`/uploads/${photo}`)
